# Work

All of the work for the geoviz paper.

In [3]:
import pandas as pd
%run utilities.py

### Charts Cartogram work

In [3]:
# tile layouts from http://code.minnpost.com/aranger/
orig = [[2,0,"AK"],[12,0,"ME"],[7,1,"WI"],[11,1,"VT"],[12,1,"NH"],[2,2,"WA"],[3,2,"ID"],[4,2,"MT"],
        [5,2,"ND"],[6,2,"MN"],[7,2,"IL"],[8,2,"MI"],[10,2,"NY"],[11,2,"MA"],[2,3,"OR"],[3,3,"NV"],
        [4,3,"WY"],[5,3,"SD"],[6,3,"IA"],[7,3,"IN"],[8,3,"OH"],[9,3,"PA"],[10,3,"NJ"],[11,3,"CT"],
        [12,3,"RI"],[2,4,"CA"],[3,4,"UT"],[4,4,"CO"],[5,4,"NE"],[6,4,"MO"],[7,4,"KY"],[8,4,"WV"],
        [9,4,"VA"],[10,4,"MD"],[11,4,"DE"],[3,5,"AZ"],[4,5,"NM"],[5,5,"KS"],[6,5,"AR"],[7,5,"TN"],
        [8,5,"NC"],[9,5,"SC"],[10,5,"DC"],[5,6,"OK"],[6,6,"LA"],[7,6,"MS"],[8,6,"AL"],[9,6,"GA"],
        [2,7,"HI"],[5,7,"TX"],[10,7,"FL"]]

def move_tile(tile, x, y):
    tile[0] = tile[0] + x
    tile[1] = tile[1] + y
    return tile

In [4]:
# 960x500, 12 worked for best height.
# >> 500:12 :: 960:23

# adjust with respect to above
modified = [move_tile(x, 4, 2) for x in orig]

In [6]:
pd.DataFrame(modified).to_csv('data/processed/web/state-tiles.csv', index=False, header=['x', 'y', 'state'])

In [2]:
%ls ../../data/external/caglar/

 accounts.csv
'Conover_et_al_2011_Political polarization on twitter.pdf'
'Conover_et_al_2012_Partisan asymmetries in online political activity.pdf'
 top10000_mostmentioned_alltimes.csv
 top10000_mostmentioned_dayafter.csv
 top10000_mostmentioned_daybefore.csv
 top10000_mostmentioned_monthafter.csv
 top10000_mostmentioned_monthbefore.csv
 top10000_mostmentioned_weekafter.csv
 top10000_mostmentioned_weekbefore.csv
 top10000_mostretweeted_alltimes.csv
 top10000_mostretweeted_dayafter.csv
 top10000_mostretweeted_daybefore.csv
 top10000_mostretweeted_monthafter.csv
 top10000_mostretweeted_monthbefore.csv
 top10000_mostretweeted_weekafter.csv
 top10000_mostretweeted_weekbefore.csv
 top100_with_categories.csv
 trumptweets.csv
 tweetstop100bryce.csv
 tweets_top100opinionleaders.csv

### Scatter Plot

Merging the top retweeted tweets with their author's categories.

In [52]:
tweets = name_file_path('caglar/tweets_top100opinionleaders.csv', external_data_dir)
cats = name_file_path('caglar/top100_with_categories.csv', external_data_dir)

tweets_df = pd.read_csv(tweets)
cats_df = pd.read_csv(cats)

In [53]:
tweets_df.sort_values(by='count', ascending=False).head(2)

,min,tweet,count,min.1
4008,USARedOrchestra,RT : No Muslim Syrian refugee has killed a sin...,29023,2017-01-27
6324,CleverTitleTK,RT : Repeat: Senator Schumer's great-grandmoth...,22055,2017-01-30

In [54]:
tweets_df.columns = ['user', 'message', 'count', 'date']
cats_df.head(2)

     fromuser  count    category
0  JimAxelrod  11174  journalist
1   netanyahu  10451  politician

In [56]:
cats_df = cats_df[['fromuser', 'category']]
cats_df.columns = ['user', 'category']

In [124]:
scatter_df = pd.merge(tweets_df, cats_df, left_on='user', right_on='user')
scatter_df.head(2)

,user,message,count,date,category
0,Sia,RT : Trying to give a taste of life as a quee...,2,2017-01-01,celebrity
1,Sia,RT : help our queer & immigrant friends. send ...,9338,2017-01-28,celebrity

In [125]:
scatter_df.set_index('user').to_csv('test.csv')