# Work

All of the work for the geoviz paper.

In [1]:
import pandas as pd
%run utilities.py

### Charts Cartogram work

In [3]:
# tile layouts from http://code.minnpost.com/aranger/
orig = [[2,0,"AK"],[12,0,"ME"],[7,1,"WI"],[11,1,"VT"],[12,1,"NH"],[2,2,"WA"],[3,2,"ID"],[4,2,"MT"],
        [5,2,"ND"],[6,2,"MN"],[7,2,"IL"],[8,2,"MI"],[10,2,"NY"],[11,2,"MA"],[2,3,"OR"],[3,3,"NV"],
        [4,3,"WY"],[5,3,"SD"],[6,3,"IA"],[7,3,"IN"],[8,3,"OH"],[9,3,"PA"],[10,3,"NJ"],[11,3,"CT"],
        [12,3,"RI"],[2,4,"CA"],[3,4,"UT"],[4,4,"CO"],[5,4,"NE"],[6,4,"MO"],[7,4,"KY"],[8,4,"WV"],
        [9,4,"VA"],[10,4,"MD"],[11,4,"DE"],[3,5,"AZ"],[4,5,"NM"],[5,5,"KS"],[6,5,"AR"],[7,5,"TN"],
        [8,5,"NC"],[9,5,"SC"],[10,5,"DC"],[5,6,"OK"],[6,6,"LA"],[7,6,"MS"],[8,6,"AL"],[9,6,"GA"],
        [2,7,"HI"],[5,7,"TX"],[10,7,"FL"]]

def move_tile(tile, x, y):
    tile[0] = tile[0] + x
    tile[1] = tile[1] + y
    return tile

In [4]:
# 960x500, 12 worked for best height.
# >> 500:12 :: 960:23

# adjust with respect to above
modified = [move_tile(x, 4, 2) for x in orig]

In [6]:
pd.DataFrame(modified).to_csv('data/processed/web/state-tiles.csv', index=False, header=['x', 'y', 'state'])

In [3]:
%ls ..\..\data\external\caglar\

 Volume in drive H is rlrson
 Volume Serial Number is 8000-0458

 Directory of H:\Develop\gviz.new\data\external\caglar

05/30/2017  04:41 PM    <DIR>          .
05/26/2017  12:27 PM    <DIR>          ..
05/26/2017  10:34 AM           163,450 accounts.csv
05/26/2017  03:33 PM         2,819,494 Conover_et_al_2011_Political polarization on twitter.pdf
05/26/2017  03:33 PM         3,061,254 Conover_et_al_2012_Partisan asymmetries in online political activity.pdf
05/30/2017  10:47 AM    <DIR>          maps
05/28/2017  02:22 PM             4,810 numberofuserspercounty.csv
05/28/2017  06:04 PM            52,882 retweetslatlon.csv
05/30/2017  10:47 AM    <DIR>          sql
05/30/2017  04:28 PM             2,715 top100_with_categories.csv
05/25/2017  09:49 PM           181,015 top10000_mostmentioned_alltimes.csv
05/26/2017  03:32 PM           173,123 top10000_mostmentioned_dayafter.csv
05/26/2017  03:31 PM           170,050 top10000_mostmentioned_daybefore.csv
05/26/2017  03:28 PM           181,790 top10000_mostmentioned_monthafter.csv
05/26/2017  03:19 PM           180,455 top10000_mostmentioned_monthbefore.csv
05/26/2017  03:31 PM           180,005 top10000_mostmentioned_weekafter.csv
05/26/2017  03:29 PM           173,876 top10000_mostmentioned_weekbefore.csv
05/25/2017  09:53 PM           188,360 top10000_mostretweeted_alltimes.csv
05/26/2017  03:18 PM           177,935 top10000_mostretweeted_dayafter.csv
05/26/2017  03:17 PM           170,816 top10000_mostretweeted_daybefore.csv
05/26/2017  03:16 PM           187,116 top10000_mostretweeted_monthafter.csv
05/26/2017  03:14 PM           180,528 top10000_mostretweeted_monthbefore.csv
05/26/2017  03:17 PM           183,548 top10000_mostretweeted_weekafter.csv
05/26/2017  03:17 PM           175,709 top10000_mostretweeted_weekbefore.csv
05/26/2017  09:34 PM            17,666 trumptweets.csv
05/30/2017  10:45 AM         2,013,575 tweets_top100opinionleaders.csv
05/30/2017  03:22 PM           183,046 tweetstop100bryce.csv
              23 File(s)     10,823,218 bytes
               4 Dir(s)  13,716,373,504 bytes free

### Scatter Plot

Merging the top retweeted tweets with their author's categories.

In [4]:
tweets = name_file_path('caglar/tweets_top100opinionleaders.csv', external_data_dir)
cats = name_file_path('caglar/top100_with_categories.csv', external_data_dir)

tweets_df = pd.read_csv(tweets)
cats_df = pd.read_csv(cats)

In [5]:
tweets_df.sort_values(by='count', ascending=False).head(2)

,min,tweet,count,min.1
4008,USARedOrchestra,RT : No Muslim Syrian refugee has killed a sin...,29023,2017-01-27
6324,CleverTitleTK,RT : Repeat: Senator Schumer's great-grandmoth...,22055,2017-01-30

In [6]:
tweets_df.columns = ['user', 'message', 'count', 'date']
cats_df.head(2)

     fromuser  count    category
0  JimAxelrod  11174  journalist
1   netanyahu  10451  politician

In [7]:
cats_df = cats_df[['fromuser', 'category']]
cats_df.columns = ['user', 'category']

In [10]:
scatter_df = pd.merge(tweets_df, cats_df, left_on='user', right_on='user', how='left')
scatter_df.head(2)

,user,message,count,date,category
0,ajplus,RT : After Pearl Harbor; Japanese-Americans we...,1,2016-12-22,NaN
1,FoxNews,RT : .: “We’ve prosecuted 580 people in Americ...,1,2016-12-22,NaN

In [33]:
user_indexed = scatter_df.set_index('user')
users = scatter_df.user.unique().tolist()
scatter_dict = {}

for user in users:
    scatter_dict[user] = test.loc[user].T.to_dict().values()

C:\Anaconda3\envs\gviz\lib\site-packages\pandas\core\frame.py:891: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  "columns will be omitted.", UserWarning)

In [35]:
scatter_df.to_csv('../../test.csv', index=False)

In [12]:
# number of 
len(scatter_df[scatter_df.category.isnull() == False])

398