# Work

All of the work for the geoviz paper.

In [2]:
import pandas as pd
%run utilities.py

In [12]:
%ls ../../data/external/caglar/

 accounts.csv*
'Conover_et_al_2011_Political polarization on twitter.pdf'*
'Conover_et_al_2012_Partisan asymmetries in online political activity.pdf'*
 countyID/
 sql/
 top10000_mostmentioned_alltimes.csv*
 top10000_mostmentioned_dayafter.csv*
 top10000_mostmentioned_daybefore.csv*
 top10000_mostmentioned_monthafter.csv*
 top10000_mostmentioned_monthbefore.csv*
 top10000_mostmentioned_weekafter.csv*
 top10000_mostmentioned_weekbefore.csv*
 top10000_mostretweeted_alltimes.csv*
 top10000_mostretweeted_dayafter.csv*
 top10000_mostretweeted_daybefore.csv*
 top10000_mostretweeted_monthafter.csv*
 top10000_mostretweeted_monthbefore.csv*
 top10000_mostretweeted_weekafter.csv*
 top10000_mostretweeted_weekbefore.csv*
 top100_with_categories.csv*
 trumptweets.csv*
 tweetstop100bryce.csv*
 tweets_top100opinionleaders.csv*

### Scatter Plot

Merging the top retweeted tweets with their author's categories.

In [3]:
tweets = name_file_path('caglar/tweets_top100opinionleaders.csv', external_data_dir)
cats = name_file_path('caglar/top100_with_categories.csv', external_data_dir)

tweets_df = pd.read_csv(tweets)
cats_df = pd.read_csv(cats)

In [4]:
tweets_df.sort_values(by='count', ascending=False).head(2)

,min,tweet,count,min.1
4008,USARedOrchestra,RT : No Muslim Syrian refugee has killed a sin...,29023,2017-01-27
6324,CleverTitleTK,RT : Repeat: Senator Schumer's great-grandmoth...,22055,2017-01-30

In [5]:
tweets_df.columns = ['user', 'message', 'count', 'date']
cats_df.head(2)

     fromuser  count    category
0  JimAxelrod  11174  journalist
1   netanyahu  10451  politician

In [6]:
cats_df = cats_df[['fromuser', 'category']]
cats_df.columns = ['user', 'category']

In [7]:
scatter_df = pd.merge(tweets_df, cats_df, left_on='user', right_on='user', how='left')
scatter_df.head(2)

,user,message,count,date,category
0,ajplus,RT : After Pearl Harbor; Japanese-Americans we...,1,2016-12-22,NaN
1,FoxNews,RT : .: ‚ÄúWe‚Äôve prosecuted 580 people in Americ...,1,2016-12-22,NaN

In [11]:
user_indexed = scatter_df.set_index('user')
users = scatter_df.user.unique().tolist()
scatter_dict = {}

for user in users:
    scatter_dict[user] = user_indexed.loc[user].T.to_dict().values()

/home/user/.anaconda3/envs/geopy/lib/python3.6/site-packages/pandas/core/frame.py:891: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  "columns will be omitted.", UserWarning)

In [35]:
scatter_df.to_csv('../../test.csv', index=False)

In [12]:
# number of 
len(scatter_df[scatter_df.category.isnull() == False])

398

---

Another dataset: `tweetstop100bryce.csv`

In [13]:
second_f = name_file_path('tweetstop100bryce.csv', external_cag_dir)
second = pd.read_csv(second_f)

second.head()

,min,tweet,count,min.1
0,mequemequeJ,RT : „Åì„ÅÆË®ò‰∫ãÔºàÔºâ„ÇíË™≠„ÇÄÈôê„Çä„ÄÅÁ±≥ÂõΩÁ±ç„ÇíÂê´„ÇÅ„Åü‰∫åÈáçÂõΩÁ±çËÄÖ„ÅØ„Çª„Éº„Éï„Å™„Çà„ÅÜ„Åß„Åô„ÄÇ„Åü„Å†„ÄÅ„Åì„Å°„Çâ„ÅÆ...,4,2017-01-28
1,rcallimachi,RT : 11. But the label - 'Romanian' and 'refug...,132,2017-01-28
2,HaroldItz,RT : 1/28 PM: Your regular reminder that Trump...,5,2017-01-28
3,Christiana1987,RT : 1) duh 2) He literally walked around & pr...,1,2017-01-28
4,peterdaou,RT : 1. For very personal context on Trump's r...,1150,2017-01-28

In [14]:
second.columns = ['user', 'message', 'count', 'date']
second_scatter = pd.merge(tweets_df, cats_df, left_on='user', right_on='user', how='left')

In [15]:
second_scatter.head()

,user,message,count,date,category
0,ajplus,RT : After Pearl Harbor; Japanese-Americans we...,1,2016-12-22,NaN
1,FoxNews,RT : .: ‚ÄúWe‚Äôve prosecuted 580 people in Americ...,1,2016-12-22,NaN
2,bfraser747,RT : üí•üí•üí• AMAZING VIDEO Watch ask to MOVE FO...,4,2016-12-22,NaN
3,trump2016fan,RT : was right! Muslim Refugee dad arrested f...,3,2016-12-22,NaN
4,trump2016fan,RT : Austrian Town of 1;600 Drowns in Muslim ...,1,2016-12-22,NaN

In [17]:
len(second_scatter[second_scatter.category.isnull() == False])

398