# Modify Database

Create meaningful relational database schemas from the flat/consolidated database.

```
df.to_sql("table_name", conn, if_exists="replace/append")        # write
pd.read_sql_query("select * from table_name limit 1;", conn)     # read
```

In [1]:
# Libraries

%run utilities.py
import sqlite3

**Schemas & Queries**

In [ ]:
tweets_schema = """CREATE TABLE IF NOT EXISTS Tweets(
  tweetID INTEGER REFERENCES Raw(tweetID),
  message TEXT,
  retweet INTEGER,
  longitude REAL,
  latitude REAL,
  date TEXT
);""".replace('\n', '')

users_schema = """CREATE TABLE IF NOT EXISTS Users(
  username TEXT REFERENCES Raw(username),
  tweetID INTEGER
);""".replace('\n', '')

CREATE TABLE Raw (
	username text,
	longitude float,
	latitude float,
	date datetime,
	week date,
	tweetID integer,
	userID integer,
	retweet integer,
	followersCount integer,
	joinDay date,
	favouritesCount integer,
	language text,
	statusesCount integer,
	message text
);

CREATE TABLE Tweets (
	tweetID integer REFERENCES Raw(tweetID),
	retweet integer,
	message integer,
	date date,
	week date
);

CREATE TABLE Users (
	userID integer,
	username text
);

CREATE TABLE User_Tweets (
	userID binary,
	tweetID integer
);

CREATE TABLE Weeks (
	week date,
	tweetID integer
);

In [2]:
# start
conn = sqlite3.connect(tweet_db_f)
cur = conn.cursor()

In [8]:
# insert schemas here
#
#
#

In [3]:
# Populate database tables with queries
tweets_df = pd.read_sql_query("select * from Raw;", conn)
tweets_df.head(2)

,tweetID,date,week,username,message,retweet,longitude,latitude,followersCount,friendsCount,joinDay,favouritesCount,language,statusesCount
0,812080810010574848,Thu Dec 22 17:42:07 CST 2016,Dec-22-2016,althafallathif,@ourlifeisdakwah ・・・ Lima Fase Peradaban Isla...,,114.627525,-3.351165,14,38,17067,13,id,77
1,812080849239810048,Thu Dec 22 17:42:16 CST 2016,Dec-22-2016,RJazz117,PrisonPlanetTV: RT PrisonPlanet: Muslim YouTub...,,114.627525,-3.351165,79,53,14269,10,en,6067
2,812080889463242752,Thu Dec 22 17:42:26 CST 2016,Dec-22-2016,ReignsFreedom,RT : French Mayor Facing Charges For Saying 91...,1,114.627525,-3.351165,23805,10312,15882,50383,en,53260
3,812080932194840576,Thu Dec 22 17:42:36 CST 2016,Dec-22-2016,ahmed99059,ربِّ أسألك خير ما في هذا اليوم وخير ما بعده ♻️,,114.627525,-3.351165,205,374,15532,75,ar,11769
4,812080972854423552,Thu Dec 22 17:42:46 CST 2016,Dec-22-2016,NaifNaser34,اللهم لا سهل إلا ما جعلته سهلاً وأنت تجعل الحز...,,114.627525,-3.351165,1531,1525,15797,368,ar,25397

In [9]:
# create tables that reflect our schema
users = tweets_df[['username', 'tweetID']].set_index('userID')

KeyError: "['userID'] not in index"

In [10]:
conn.close()