# Formatting.

Get the data into a format we can use in D3.js.

In [1]:
# Libraries

%run utilities.py

import sqlite3
import json
from collections import defaultdict

In [2]:
# establish the DB connection
conn = sqlite3.connect(tweet_db)

#### Tweets by Date

JSON, using the date as a key for easier lookup later.

In [3]:
# dataframe
tweets_by_day = (pd.read_sql_query("select * from Tweets;", conn)).groupby('date')
# series
tweets_by_day = tweets_by_day.apply(lambda x: x.to_json(orient='records'))

# serialized json
tweets_by_day_f = name_file_path('tweet-by-day.json', processed_web_dir)
tweets_by_day.to_json(tweets_by_day_f, orient='index')

#### Most Popular Users

Get a count of all the users.

In [6]:
# Grab every user name and get their counts
user_counts = (pd.read_sql_query("select username from Users;", conn)).username.value_counts()
# rename columns to human readable
user_counts = user_counts.reset_index().rename(columns={'index': 'Username', 'username': 'Count'})

# write out the most popular users (1000th user has 22 tweets)
user_counts_f = name_file_path('popular-users.csv', processed_web_dir)
user_counts.iloc[:100].to_csv(user_counts_f, index=False)

#### Popular User Tweets

In [7]:
users = {}

for user in user_counts.Username.iloc[:100].tolist():
    print (user)
    
    # create the query
    query = "SELECT message, latitude, longitude, date FROM Raw WHERE username = '{}';".format(user)
    user_tweets = pd.read_sql_query(query, conn)
    
    # add their tweets to the dictionairy
    users[user] = user_tweets.to_dict('records')

islamstoris
yammamamalek
haleem990079
saadalqahtani0
alsamer4141
TII99
prioritydate
3ALDHMASHi
ReemHadeer
ayedalrashidi12
amer_altawergi
aj_alshaheen257
AAL_Tawi
freeforiraq
foofa12345
m504n
jory217
bho14321
a_alatwi
SOM___OTB
mo_alshammari
22mMoome
alfalh2222
amen112012
1alsbahi1
aleid_sh
a_oo06
ThMoudhi
a_aldosii
k_g_k_a_
adnan66771
wanasah2010
live2family
ather89
S_hATAT
heboou
Monemn6789
dontlove363
abutu_ke
JANA_MOHD
zadmuslam
adbullah1231
Iizx1167
Zyzy15152
ajmal_a7sas_
MufadhMafadhi
ibrahim_zidann
hvsvtf54
saddah_q8
rshoooddd1
Bn7lall
sam5568
al5orey__f
Esoo_taif
almesaihel
IsmailAbdulmugh
naderelbrnc
smartsway
KawamlhOmar
lost_dreem
omarabdulhadi98
3h_d32
_4u4u_
jaman212121
dode14_15
nadooshah_r
reem727x
ass11_aa50
Suha_M_F
helah_alfawaz
_ABU_WESAM
lole3491
love_allah_01
muslethamod
N_alsuwaidi2
tsad300
12344321Mkt92
firasyakoub
Heba95_
abdulazizsaad33
613300Ahmad
amira_y67
ahmad60100
Hafidz341
mohdbash17
Reem_kuwait_
ssalkutbi
yalh_aljnh
ap5039444
LiveEUDebate
Talal877000
NharMajed
ALKBBI99
shaher9941
ksa1396s
Its_3nadi
Jedi_Pite_Bre
D_a_p_q
princesssara915
DoaKalbu