# Formatting.

Get the data into a format we can use in D3.js.

In [1]:
# Libraries

%run utilities.py

import sqlite3
import json
from collections import defaultdict

In [2]:
# establish the DB connection
conn = sqlite3.connect(tweet_db)

#### Tweets by Date

JSON, using the date as a key for easier lookup later.

In [4]:
# dataframe
tweets_by_day = (pd.read_sql_query("select * from Tweets;", conn)).groupby('date')
# series
tweets_by_day = tweets_by_day.apply(lambda x: x.to_json(orient='records'))
# serialized json
#tweets_by_day.to_json(orient='index')

In [5]:
tweets_by_day.to_json('test-tweet-by-day.json', orient='index')

#### Most Popular Users

Get a count of all the users.

In [27]:
# Grab every user name and get their counts
user_counts = (pd.read_sql_query("select username from Users;", conn)).username.value_counts()
# rename columns to human readable
user_counts = user_counts.reset_index().rename(columns={'index': 'Username', 'username': 'Count'})
# write out the most popular users (1000th user has 22 tweets)
user_counts.iloc[:1000]to_csv('popular-users.csv', index=False)

#### Popular User Tweets

In [43]:
users = {}

for user in user_counts.Username.iloc[:100].tolist():
    print (user)
    
    # create the query
    query = "SELECT message, latitude, longitude, date FROM Raw WHERE username = '{}';".format(user)
    user_tweets = pd.read_sql_query(query, conn)
    
    # add their tweets to the dictionairy
    users[user] = user_tweets.to_dict('records')

islamstoris
yammamamalek
haleem990079
saadalqahtani0
alsamer4141
TII99
prioritydate
3ALDHMASHi
ReemHadeer
ayedalrashidi12
amer_altawergi
aj_alshaheen257
AAL_Tawi
freeforiraq
m504n
bho14321
foofa12345
jory217
a_alatwi
amen112012
alfalh2222
mo_alshammari
22mMoome
SOM___OTB
aleid_sh
1alsbahi1
a_oo06
ThMoudhi
a_aldosii
k_g_k_a_
wanasah2010
live2family
adnan66771
ather89
Monemn6789
S_hATAT
heboou
Zyzy15152
ajmal_a7sas_
adbullah1231
zadmuslam
dontlove363
Iizx1167
JANA_MOHD
abutu_ke
ibrahim_zidann
rshoooddd1
hvsvtf54
MufadhMafadhi
saddah_q8
Bn7lall
al5orey__f
IsmailAbdulmugh
almesaihel
Esoo_taif
sam5568
KawamlhOmar
naderelbrnc
lost_dreem
smartsway
3h_d32
omarabdulhadi98
jaman212121
_4u4u_
reem727x
nadooshah_r
ass11_aa50
dode14_15
Suha_M_F
_ABU_WESAM
helah_alfawaz
lole3491
love_allah_01
muslethamod
N_alsuwaidi2
12344321Mkt92
tsad300
firasyakoub
Heba95_
abdulazizsaad33
613300Ahmad
amira_y67
ahmad60100
Hafidz341
mohdbash17
Reem_kuwait_
yalh_aljnh
ssalkutbi
LiveEUDebate
ap5039444
NharMajed
Talal877000
ALKBBI99
shaher9941
ksa1396s
D_a_p_q
Its_3nadi
Jedi_Pite_Bre
princesssara915
DoaKalbu