In [1]:
import pandas as pd

In [4]:
all_f = '../data/processed/scrape/4-4/all-agg.csv'
#all_f = '../data/processed/scrape/4-4/test.tar.bzip2'

all_df = pd.read_csv(all_f, compression='bzip2')
#                     parse_dates=['day'], infer_datetime_format=True)

In [6]:
all_df.day.value_counts()

2017-01-29    1801513
2017-01-30    1577866
2017-01-31    1358099
2017-01-28    1331887
2017-02-01     894558
2017-02-02     772095
2017-01-26     696605
2017-01-25     694392
2017-02-10     670878
2017-02-20     652289
2017-02-09     645948
2017-01-27     600807
2017-02-05     581876
2017-02-27     579638
2017-02-11     577570
2017-02-06     564928
2017-02-03     561823
2017-02-16     552225
2017-02-08     545689
2017-02-22     541800
2017-03-01     540344
2017-03-07     539167
2017-02-19     537922
2017-02-07     528377
2017-03-16     526279
2017-03-08     523211
2017-03-23     518888
2017-02-21     516722
2017-02-15     514736
2017-02-13     513306
               ...
2017-01-19     320270
2017-01-15     318462
2017-01-12     317141
2017-01-13     316941
2016-12-28     311557
2017-01-14     311348
2017-04-01     309038
2017-01-16     308860
2017-01-18     306800
2017-01-02     306190
2017-01-03     305845
2017-01-08     300534
2016-12-29     297563
2016-12-25     293628
2017-01-04     293556
2017-04-02     289877
2017-04-04     283013
2017-01-01     282814
2017-01-05     279760
2017-01-09     278968
2016-12-30     276382
2016-12-31     271301
2017-01-21     251415
2017-01-06     229795
2017-03-09     219278
2017-01-07     210586
2016-12-27     160354
2017-01-20     107096
2016-12-26     101574
2016-12-22      11232
Name: day, dtype: int64

In [18]:
def get_year(date):
    return date[:4]

def get_month(date):
    return date.split('-')[1]

# assign year
all_df['year'] = all_df['day'].apply(lambda x: get_year(x))
all_df['month'] = all_df['day'].apply(lambda x: get_month(x))

In [23]:
# filter
df_17 = all_df[all_df.year == '2017']
df_17.head(2)

          day language         user  count  year month
0  2017-02-25       ar  0000_khalaf     11  2017    02
1  2017-02-25       ar    0001yasir      9  2017    02

In [25]:
jan = df_17[df_17.month == '01']
feb = df_17[df_17.month == '02']

In [28]:
out_f = '../data/processed/scrape/4-4/jan-agg.csv'
jan[['day', 'language', 'user', 'count']].to_csv(out_f, index=False)

In [29]:
out_f = '../data/processed/scrape/4-4/feb-agg.csv'
feb[['day', 'language', 'user', 'count']].to_csv(out_f, index=False)

In [31]:
mar = df_17[df_17.month == '03']

out_f = '../data/processed/scrape/4-4/mar-agg.csv'
mar[['day', 'language', 'user', 'count']].to_csv(out_f, index=False)